:root {
  font-size: 1.125em;
  --light-gray: #777777;
  --bg-color: #f7f7f7;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  padding: 2em;
}

.ts {
  font-size: 0.8rem;
  color: var(--light-gray);
  margin-bottom: 0;
}

.vacancy {
  padding-bottom: 1rem;
}

.logout {
  float: right;
}
